.block-views-blockcompositstartpage-block-2{
  .view-content {
    display: inline-block;
    position:relative;
    left: 50%;
    transform: translateX(-50%);

    .views-row {
      display: inline-block;
      vertical-align: middle;

      .nomination-teaser {
        width: 250px;
        margin-left: auto;
        margin-right:auto;
        border-radius: 3px;
        background-color: #fefefe;
        padding: 4px;

        h4, h5, .nomination-teaser-text{
          text-align: center;
        }

        .nomination-screenshots-slider {
          width: 110px;
          margin-left: auto;
          margin-right: auto;

          ul {
            list-style: none;
          }

          img {
            max-width: 100px;
            max-height: 350px;
          }
        }
      }
    }
  }
}