.block-views-blockcompositstartpage-block-2 {
  .select-wrapper {
    select {
      display: none !important;
    }

    &:after {
      content: '' !important;
      display: none;
    }

    .nomination-category-menu {
      list-style: none;
      li {
        color: #ffffff;
        display: inline-block;
        padding: 15px;
        border-radius: 8px;
        background-color: #b8bcbd;
        cursor: pointer;
        margin: 8px 20px 8px 8px;

        &:focus, &:hover, &.selected {
          background-color: #2C3840;
        }
      }
    }
  }

  #views-exposed-form-compositstartpage-block-2 {
    display: inline-block;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .js-form-wrapper {
    .form-submit {
      display: none !important;
    }
  }
}