@import "variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "mixins";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";

//@import "bootstrap-sass/mixins";
@import "components/content.scss";
@import "components/footer.scss";
@import "components/header.scss";
@import "components/navbar.scss";
@import "elements/blocks.scss";
@import "elements/fields.scss";
@import "elements/navs.scss";
@import "elements/sliders.scss";
@import "elements/type.scss";
@import "elements/nomination_category_list_menu";
@import "elements/sponsors";
@import "pages/front.scss";
@import "view-modes/full.scss";
@import "view-modes/teaser.scss";
@import "view-modes/nomination_full.scss";
@import "view-modes/nomination_teaser";

