.nomination-full {
  position: relative; 
  > div {
    margin-bottom: $line-height-computed*2; 
  }
  &__projectname {
    .h2 {
      margin: 0;
      @include smaller-than($screen-sm){
        font-size: $font-size-h4;
      } 
    }
  }
  &__project-url {
    margin-bottom: $line-height-computed*2; 
  }
  .project-link-button {
    @include make-button-light($xi-green, $xi-white);
    display: inline-block; 
    margin-top: 0; 
  }
  .field--name-field-website-screenshots {
    .field--item {
      margin-bottom: $line-height-computed*2; 
    }
    img {
      margin: auto; 
    }
    .slick-dots {
      top: -$line-height-computed*2; 
      li button:before {
        font-size: $font-size-small;
      }
    }
  }
  &__customer-logo {
    margin-top: $line-height-computed*2; 
  }
  
  .nomination-winner {
    position: absolute; 
    right: 0; 
    top: -$grid-gutter-width*3; 
    max-width: 50%; 
  }
  .nomination-winner-text {
    text-align: center; 
    text-transform: uppercase; 
    font-weight: bold; 
    color: $xi-green;
  }
  .nomination-winner-badge {
    width: 3.5em; 
    margin: auto; 
  }
}

.page-node-type-nomination {
  .page-header {
    margin-right: 3.8em; 
  }
}