.nomination-full {
  > div {
    margin-bottom: $line-height-computed*2; 
  }
  &__projectname {
    .h2 {
      margin: 0;
      @include smaller-than($screen-sm){
        font-size: $font-size-h4;
      } 
    }
  }
  &__project-url {
    margin-bottom: $line-height-computed*2; 
  }
  .project-link-button {
    @include make-button-light($xi-green, $xi-white);
    display: inline-block; 
    margin-top: 0; 
  }
  .field--name-field-website-screenshots {
    .field--item {
      margin-bottom: $line-height-computed*2; 
    }
    img {
      margin: auto; 
    }
    .slick-dots {
      top: -$line-height-computed*2; 
      li button:before {
        font-size: $font-size-small;
      }
    }
  }
  &__customer-logo {
    margin-top: $line-height-computed*2; 
  }
}

