.block-views-blockcompositstartpage-block-2{
  .view-content {
    display: inline-block;
    position:relative;
    @include make-row(); 
    @include larger-than($screen-sm) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .views-row {
      vertical-align: middle;
      margin: $grid-gutter-width/2 auto;
      @include make-sm-column(3);

      @include larger-than($screen-sm) {
        flex-basis: 50%;
      }
      @include larger-than($screen-md) {
        flex-basis: 25%;
      }

      .nomination-teaser {
        padding: $grid-gutter-width/2;
        background-color: #fefefe;
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
        @include larger-than($screen-sm) {
          border-radius: $border-radius-large;
        }
        h4, h5, .nomination-teaser-text{
          text-align: center;
        }

        .nomination-screenshots-slider {
          margin-left: auto;
          margin-right: auto;
          list-style: none;
          padding: 0; 
          width: 200px;
          max-width: 100%;

          img {
            max-width: 100%;
            margin: auto;
          }
        }
        .readmore-small {
          margin: $grid-gutter-width auto;
          a {
            @include make-button-light($xi-green, $xi-white);
            padding: $grid-gutter-width/4; 
          }
        }
      }
    }
  }
  .categories-and-rules {
    text-align: center;
    padding-top: $grid-gutter-width;
    margin: $grid-gutter-width*2;
    border-top: 1px solid rgba($xi-gray-light, 0.6);
    h4 {
      display: inline-block;
      @include larger-than($screen-sm) {
        margin: 0 $grid-gutter-width;
      }
    }
  }
  .block-title {
    margin-bottom: $grid-gutter-width*3; 
  }
}