@charset "UTF-8";
/**
 * Variable Overrides.
 */
<<<<<<< HEAD
.block-views-blocknomination-list-block-2 .select-wrapper select {
  display: none !important; }

.block-views-blocknomination-list-block-2 .select-wrapper:after {
  content: '' !important;
  display: none; }

.block-views-blocknomination-list-block-2 .select-wrapper .nomination-category-menu {
  list-style: none; }
  .block-views-blocknomination-list-block-2 .select-wrapper .nomination-category-menu li {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    background-color: #fefefe;
    font-weight: bolder;
    cursor: pointer;
    margin-right: 3px; }
    .block-views-blocknomination-list-block-2 .select-wrapper .nomination-category-menu li:focus, .block-views-blocknomination-list-block-2 .select-wrapper .nomination-category-menu li:hover, .block-views-blocknomination-list-block-2 .select-wrapper .nomination-category-menu li.selected {
      background-color: #0e69be;
      color: #9dcae7; }

.block-views-blocknomination-list-block-2 .js-form-wrapper .form-submit {
  display: none !important; }

#block-views-block-nomination-list-block-2 .item-list ul {
  list-style: none; }
  #block-views-block-nomination-list-block-2 .item-list ul li {
    display: inline-block;
    vertical-align: middle; }

.logo img {
  min-width: 100px;
  max-width: 162px; }
=======
header {
  border-bottom: 4px solid rgba(172, 172, 172, 0.6); }
>>>>>>> b8e5cab84f1b78d5ab13adeb822f2886758759e6

.path-frontpage h2, .path-frontpage h3 {
  text-align: center; }

section {
  margin-bottom: 90px; }

header {
  margin-bottom: 44px; }

.path-frontpage header {
  background-image: url(../../images/bg-splash-dark-comp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 70vh;
  color: #fff; }
  .path-frontpage header h1 {
    color: #fff; }

.logo {
  float: none !important; }
  .logo img {
    width: 70%;
    height: auto; }

.header-logo {
  display: inline-block; }

.section-highlighted {
  margin-top: 60px; }
  @media only screen and (min-width: 768px) {
    .section-highlighted .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.navbar-main,
.navbar {
  background-color: transparent;
  border: none;
  margin-bottom: 11px; }
  .navbar-main nav,
  .navbar nav {
    font-weight: bolder;
    text-transform: uppercase;
    list-style: none;
    padding-top: 11px; }
    .navbar-main nav li,
    .navbar nav li {
      display: inline-block;
      border-radius: 4px;
      margin-left: 5px; }
      .navbar-main nav li a, .navbar-main nav li a:visited, .navbar-main nav li a:hover, .navbar-main nav li a:focus,
      .navbar nav li a,
      .navbar nav li a:visited,
      .navbar nav li a:hover,
      .navbar nav li a:focus {
        color: #777;
        padding: 15px;
        border-radius: 4px; }
      .navbar-main nav li a:hover,
      .navbar nav li a:hover {
        background-color: #48A3A6;
        color: #fff; }
  .navbar-main .region-navigation-collapsible,
  .navbar .region-navigation-collapsible {
    display: inline-block;
    float: right; }

.path-frontpage .navbar-main nav li a {
  color: #fff; }

nav.tabs {
  margin: 30px 0; }

h1, h2, h3 {
  color: #444; }

.page-header {
  border: none; }

/* #page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a,
div#main,
main#content,
header#header,
div#page {
<<<<<<< HEAD
  background: transparent; }

.navbar {
  background-color: transparent;
  border: none; }
  .navbar #block-splashawardsmenu-2 {
    font-weight: bolder; }
    .navbar #block-splashawardsmenu-2 ul {
      list-style: none;
      display: inline-block;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%;
      position: relative; }
      .navbar #block-splashawardsmenu-2 ul li {
        margin-right: 4px;
        margin-top: 4px;
        display: inline-block;
        border-radius: 4px; }
        .navbar #block-splashawardsmenu-2 ul li a, .navbar #block-splashawardsmenu-2 ul li a:visited, .navbar #block-splashawardsmenu-2 ul li a:hover, .navbar #block-splashawardsmenu-2 ul li a:focus {
          color: #fefefe;
          padding: 3px;
          border-radius: 4px;
          background-color: transparent; }
        .navbar #block-splashawardsmenu-2 ul li a:hover {
          background-color: #48A3A6; }

=======
  background: transparent;
} */
>>>>>>> b8e5cab84f1b78d5ab13adeb822f2886758759e6
.nomination-teaser {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background-color: #fefefe;
  padding: 4px; }
  .nomination-teaser h4, .nomination-teaser h5, .nomination-teaser .nomination-teaser-text {
    text-align: center; }
  .nomination-teaser .nomination-screenshots-slider {
    width: 110px;
    margin-left: auto;
    margin-right: auto; }
    .nomination-teaser .nomination-screenshots-slider ul {
      list-style: none; }
    .nomination-teaser .nomination-screenshots-slider img {
      max-width: 100px;
      max-height: 350px; }

.jury-list {
  list-style: none; }
  .jury-list .judge-photo {
    width: 124px; }
  .jury-list .judge-name {
    font-weight: bolder; }
  .jury-list .judge-details {
    display: inline-block; }
  .jury-list article {
    margin-bottom: 10px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

<<<<<<< HEAD
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNzcyIsIl92YXJpYWJsZXMuc2NzcyIsInZpZXdzL19ub21pbmF0aW9uX2NhdGVnb3J5X2xpc3RfbWVudS5zY3NzIiwiX25vbWluYXRpb25fdGVhc2VyLnNjc3MiLCJfbGF5b3V0LnNjc3MiLCIuLi8uLi9ub2RlX21vZHVsZXMvc2xpY2stY2Fyb3VzZWwvc2xpY2svc2xpY2suc2NzcyIsIi4uLy4uL25vZGVfbW9kdWxlcy9zbGljay1jYXJvdXNlbC9zbGljay9zbGljay10aGVtZS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLGlCQUFpQjtBQ0FqQjs7R0FFRztBQ0ZIO0VBR00seUJBQXlCLEVBQzFCOztBQUpMO0VBT00sdUJBQXVCO0VBQ3ZCLGNBQWMsRUFDZjs7QUFUTDtFQVlNLGlCQUFpQixFQWVsQjtFQTNCTDtJQWNRLHNCQUFzQjtJQUN0QixhQUFhO0lBQ2IsbUJBQW1CO0lBQ25CLDBCQUEwQjtJQUMxQixvQkFBbUI7SUFDbkIsZ0JBQWdCO0lBQ2hCLGtCQUFrQixFQU1uQjtJQTFCUDtNQXVCVSwwQkFBMEI7TUFDMUIsZUFBZSxFQUNoQjs7QUF6QlQ7RUFnQ00seUJBQXlCLEVBQzFCOztBQ2pDTDtFQUNFLGlCQUFpQixFQUtsQjtFQU5EO0lBR0ksc0JBQXNCO0lBQ3RCLHVCQUF1QixFQUN4Qjs7QUNMSDtFQUNFLGlCQUFpQjtFQUNqQixpQkFBaUIsRUFDbEI7O0FBRUQ7Ozs7Ozs7O0VBUUUsd0JBQXdCLEVBQ3pCOztBQUVEO0VBQ0UsOEJBQThCO0VBQzlCLGFBQWEsRUE2QmQ7RUEvQkQ7SUFLSSxvQkFBbUIsRUF5QnBCO0lBOUJIO01BT00saUJBQWlCO01BQ2pCLHNCQUFzQjtNQUN0QixvQ0FBcUI7TUFBckIsZ0NBQXFCO01BQXJCLDRCQUFxQjtNQUNyQixVQUFVO01BQ1YsbUJBQW1CLEVBa0JwQjtNQTdCTDtRQWNRLGtCQUFrQjtRQUNsQixnQkFBZ0I7UUFDaEIsc0JBQXNCO1FBQ3RCLG1CQUFtQixFQVdwQjtRQTVCUDtVQW9CVSxlQUFlO1VBQ2YsYUFBYTtVQUNiLG1CQUFtQjtVQUNuQiw4QkFBOEIsRUFDL0I7UUF4QlQ7VUEwQlUsMEJBQTBCLEVBQzNCOztBQU1UO0VBQ0UsYUFBYTtFQUNiLGtCQUFrQjtFQUNsQixtQkFBa0I7RUFDbEIsbUJBQW1CO0VBQ25CLDBCQUEwQjtFQUMxQixhQUFhLEVBb0JkO0VBMUJEO0lBU0ksbUJBQW1CLEVBQ3BCO0VBVkg7SUFhRyxhQUFhO0lBQ2Isa0JBQWtCO0lBQ2xCLG1CQUFtQixFQVVwQjtJQXpCRjtNQWtCSyxpQkFBaUIsRUFDbEI7SUFuQko7TUFzQkssaUJBQWlCO01BQ2pCLGtCQUFrQixFQUNuQjs7QUFJSjtFQUNFLGlCQUFpQixFQWlCbEI7RUFsQkQ7SUFJSSxhQUFhLEVBQ2Q7RUFMSDtJQVFJLG9CQUFvQixFQUNyQjtFQVRIO0lBWUksc0JBQXNCLEVBQ3ZCO0VBYkg7SUFnQkksb0JBQW9CLEVBQ3JCOztBQUdIO0VBQ0UsNERBQTJEO0VBQzNELDZCQUE2QjtFQUM3Qix1QkFBdUI7RUFDdkIsNkJBQTZCLEVBQzlCOztBQ3RHRCxZQUFZO0FBRVo7RUFDSSxtQkFBbUI7RUFDbkIsZUFBZTtFQUNmLHVCQUF1QjtFQUN2Qiw0QkFBNEI7RUFDNUIsMEJBQTBCO0VBRTFCLHVCQUF1QjtFQUN2QixzQkFBc0I7RUFDdEIsa0JBQWtCO0VBQ2xCLHdCQUF3QjtFQUN4QixvQkFBb0I7RUFDcEIseUNBQXlDLEVBQzVDOztBQUNEO0VBQ0ksbUJBQW1CO0VBQ25CLGlCQUFpQjtFQUNqQixlQUFlO0VBQ2YsVUFBVTtFQUNWLFdBQVcsRUFVZDtFQWZEO0lBUVEsY0FBYyxFQUNqQjtFQVRMO0lBWVEsZ0JBQWdCO0lBQ2hCLGFBQWEsRUFDaEI7O0FBRUw7O0VBRUksd0NBQThCO0VBRTlCLG9DQUEwQjtFQUUxQixnQ0FBc0IsRUFDekI7O0FBRUQ7RUFDSSxtQkFBbUI7RUFDbkIsUUFBUTtFQUNSLE9BQU87RUFDUCxlQUFlLEVBZWxCO0VBbkJEO0lBUVEsWUFBWTtJQUNaLGVBQWUsRUFDbEI7RUFWTDtJQWFRLFlBQVksRUFDZjtFQWRMO0lBaUJRLG1CQUFtQixFQUN0Qjs7QUFFTDtFQUNJLFlBQVk7RUFDWixhQUFhO0VBQ2IsZ0JBQWdCO0VBV2hCLGNBQWMsRUFtQmpCO0VMbUVDO0lLL0ZNLGFBQWEsRUFDaEI7RUFOTDtJQVFRLGVBQWUsRUFDbEI7RUFUTDtJQVdRLGNBQWMsRUFDakI7RUFaTDtJQWlCUSxxQkFBcUIsRUFDeEI7RUFsQkw7SUFxQlEsZUFBZSxFQUNsQjtFQXRCTDtJQXlCUSxtQkFBbUIsRUFDdEI7RUExQkw7SUE2QlEsZUFBZTtJQUNmLGFBQWE7SUFDYiw4QkFBOEIsRUFDakM7O0FBRUw7RUFDSSxjQUFjLEVBQ2pCOztBQ3hERCxZQUFZO0FBRVo7RUFFUSxrRUFBMkUsRUFDOUU7O0FBR0wsV0FBVztBQUVQO0VBQ0kscUJBQXFCO0VBQ3JCLDhCQWhCVztFQWlCWCxzTUFBME07RUFDMU0sb0JBQW9CO0VBQ3BCLG1CQUFtQixFQUFBOztBQUkzQixZQUFZO0FBRVo7O0VBRUksbUJBQW1CO0VBQ25CLGVBQWU7RUFDZixhQUFhO0VBQ2IsWUFBWTtFQUNaLGlCQUFpQjtFQUNqQixlQUFlO0VBQ2YsZ0JBQWdCO0VBQ2hCLHdCQUF3QjtFQUN4QixtQkFBbUI7RUFDbkIsU0FBUztFQUNULHNDQUE0QjtFQUM1QixrQ0FBd0I7RUFDeEIsOEJBQW9CO0VBQ3BCLFdBQVc7RUFDWCxhQUFhO0VBQ2IsY0FBYyxFQXFCakI7RUF0Q0Q7OztJQW1CUSxjQUFjO0lBQ2Qsd0JBQXdCO0lBQ3hCLG1CQUFtQixFQUl0QjtJQXpCTDs7O01BdUJZLFdBakVjLEVBa0VqQjtFQXhCVDs7SUEyQlEsY0FwRXVCLEVBcUUxQjtFQTVCTDs7SUE4QlEscUJBbEZtQjtJQW1GbkIsZ0JBQWdCO0lBQ2hCLGVBQWU7SUFDZixhQW5GaUI7SUFvRmpCLGNBN0VvQjtJQThFcEIsb0NBQW9DO0lBQ3BDLG1DQUFtQyxFQUN0Qzs7QUFHTDtFQUNJLFlBQVksRUFXZjtFTjJIQztJTXBJTSxXQUFXO0lBQ1gsYUFBYSxFQUNoQjtFQUxMO0lBT1EsYUE5RmUsRUFBTztJTm1PMUI7TU1uSVEsYUEvRlcsRUFBTzs7QUFvRzlCO0VBQ0ksYUFBYSxFQVdoQjtFTnVIQztJTWhJTSxZQUFZO0lBQ1osWUFBWSxFQUNmO0VBTEw7SUFPUSxhQTNHZSxFQUFPO0lONE8xQjtNTS9IUSxhQTlHVyxFQUFPOztBQW1IOUIsVUFBVTtBQUVWO0VBQ0ksb0JBQW9CLEVBQ3ZCOztBQUVEO0VBQ0ksbUJBQW1CO0VBQ25CLGNBQWM7RUFDZCxpQkFBaUI7RUFDakIsZUFBZTtFQUNmLG1CQUFtQjtFQUNuQixXQUFXO0VBQ1gsVUFBVTtFQUNWLFlBQVksRUFpRGY7RUF6REQ7SUFVUSxtQkFBbUI7SUFDbkIsc0JBQXNCO0lBQ3RCLGFBQWE7SUFDYixZQUFZO0lBQ1osY0FBYztJQUNkLFdBQVc7SUFDWCxnQkFBZ0IsRUF3Q25CO0lBeERMO01Ba0JZLFVBQVU7TUFDVix3QkFBd0I7TUFDeEIsZUFBZTtNQUNmLGFBQWE7TUFDYixZQUFZO01BQ1osY0FBYztNQUNkLGlCQUFpQjtNQUNqQixlQUFlO01BQ2YsbUJBQW1CO01BQ25CLGFBQWE7TUFDYixnQkFBZ0IsRUF1Qm5CO01BbkRUO1FBOEJnQixjQUFjLEVBSWpCO1FBbENiO1VBZ0NvQixXQXBKTSxFQXFKVDtNQWpDakI7UUFvQ2dCLG1CQUFtQjtRQUNuQixPQUFPO1FBQ1AsUUFBUTtRQUNSLGFBOUpNO1FBK0pOLFlBQVk7UUFDWixhQUFhO1FBQ2IscUJBeEtXO1FBeUtYLGVBaktJO1FBa0tKLGtCQUFrQjtRQUNsQixtQkFBbUI7UUFDbkIsYUF6S087UUEwS1AsY0FsS2U7UUFtS2Ysb0NBQW9DO1FBQ3BDLG1DQUFtQyxFQUN0QztJQWxEYjtNQXFEWSxhQWhMVztNQWlMWCxjQTNLZ0IsRUE0S25CIiwiZmlsZSI6InN0eWxlLmNzcyIsInNvdXJjZVJvb3QiOiIuLi8uLi9zb3VyY2Uvc2FzcyJ9 */
=======
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNzcyIsIl92YXJpYWJsZXMuc2NzcyIsImNvbXBvbmVudHMvX2NvbnRlbnQuc2NzcyIsImNvbXBvbmVudHMvX2hlYWRlci5zY3NzIiwiX21peGlucy5zY3NzIiwiY29tcG9uZW50cy9fbmF2YmFyLnNjc3MiLCJlbGVtZW50cy9fbmF2cy5zY3NzIiwiZWxlbWVudHMvX3R5cGUuc2NzcyIsIl9sYXlvdXQuc2NzcyIsIi4uLy4uL25vZGVfbW9kdWxlcy9zbGljay1jYXJvdXNlbC9zbGljay9zbGljay5zY3NzIiwiLi4vLi4vbm9kZV9tb2R1bGVzL3NsaWNrLWNhcm91c2VsL3NsaWNrL3NsaWNrLXRoZW1lLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsaUJBQWlCO0FDQWpCOztHQUVHO0FDQUg7RUFDRSxrRERPcUIsRUNOdEI7O0FBRUQ7RUFFSSxtQkFBbUIsRUFDcEI7O0FBR0g7RUFDRSxvQkFBaUMsRUFDbEM7O0FDZEQ7RUFDRSxvQkFBb0MsRUFDckM7O0FBRUQ7RUFDRSw0REFBMkQ7RUFDM0QsNkJBQTZCO0VBQzdCLHVCQUF1QjtFQUN2Qiw2QkFBNkI7RUFDN0IsaUJBQWlCO0VBQ2pCLFlGRGEsRUVLZDtFQVZEO0lBUUksWUZIVyxFRUlaOztBQUVIO0VBQ0UsdUJBQXVCLEVBS3hCO0VBTkQ7SUFHSSxXQUFXO0lBQ1gsYUFBYSxFQUNkOztBQUdIO0VBQ0Usc0JBQXNCLEVBQ3ZCOztBQUVEO0VBQ0UsaUJBQThCLEVBTy9CO0VDM0JDO0lEbUJGO01BSU0scUJBQWM7TUFBZCxxQkFBYztNQUFkLGNBQWM7TUFDZCwwQkFBb0I7TUFBcEIsdUJBQW9CO01BQXBCLG9CQUFvQixFQUV2QixFQUFBOztBRWxDSDs7RUFFRSw4QkFBOEI7RUFDOUIsYUFBYTtFQUNiLG9CQUFvQyxFQXlCckM7RUE3QkQ7O0lBTUksb0JBQW1CO0lBQ25CLDBCQUEwQjtJQUMxQixpQkFBaUI7SUFDakIsa0JBQWtDLEVBZW5DO0lBeEJIOztNQVdRLHNCQUFzQjtNQUN0QixtQkFBbUI7TUFDbkIsaUJBQStCLEVBVWxDO01BdkJMOzs7OztRQWVVLFlKSkk7UUlLSixjQUEyQjtRQUMzQixtQkoyRmMsRUkxRmY7TUFsQlQ7O1FBb0JVLDBCSmRRO1FJZVIsWUpaSyxFSWFOO0VBdEJUOztJQTBCSSxzQkFBc0I7SUFDdEIsYUFBYSxFQUNkOztBQUdIO0VBQ0UsWUp2QmEsRUl3QmQ7O0FDakNEO0VBQ0UsZUFBNEIsRUFDN0I7O0FDRkQ7RUFDRSxZTldtQixFTVZwQjs7QUFFRDtFQUNFLGFBQWEsRUFDZDs7QUNORDs7Ozs7Ozs7O0lBU0k7QUFHSjtFQUNFLGFBQWE7RUFDYixrQkFBa0I7RUFDbEIsbUJBQWtCO0VBQ2xCLG1CQUFtQjtFQUNuQiwwQkFBMEI7RUFDMUIsYUFBYSxFQW9CZDtFQTFCRDtJQVNJLG1CQUFtQixFQUNwQjtFQVZIO0lBYUcsYUFBYTtJQUNiLGtCQUFrQjtJQUNsQixtQkFBbUIsRUFVcEI7SUF6QkY7TUFrQkssaUJBQWlCLEVBQ2xCO0lBbkJKO01Bc0JLLGlCQUFpQjtNQUNqQixrQkFBa0IsRUFDbkI7O0FBSUo7RUFDRSxpQkFBaUIsRUFpQmxCO0VBbEJEO0lBSUksYUFBYSxFQUNkO0VBTEg7SUFRSSxvQkFBb0IsRUFDckI7RUFUSDtJQVlJLHNCQUFzQixFQUN2QjtFQWJIO0lBZ0JJLG9CQUFvQixFQUNyQjs7QUN6REgsWUFBWTtBQUVaO0VBQ0ksbUJBQW1CO0VBQ25CLGVBQWU7RUFDZix1QkFBdUI7RUFDdkIsNEJBQTRCO0VBQzVCLDBCQUEwQjtFQUUxQix1QkFBdUI7RUFDdkIsc0JBQXNCO0VBQ3RCLGtCQUFrQjtFQUNsQix3QkFBd0I7RUFDeEIsb0JBQW9CO0VBQ3BCLHlDQUF5QyxFQUM1Qzs7QUFDRDtFQUNJLG1CQUFtQjtFQUNuQixpQkFBaUI7RUFDakIsZUFBZTtFQUNmLFVBQVU7RUFDVixXQUFXLEVBVWQ7RUFmRDtJQVFRLGNBQWMsRUFDakI7RUFUTDtJQVlRLGdCQUFnQjtJQUNoQixhQUFhLEVBQ2hCOztBQUVMOztFQUVJLHdDQUE4QjtFQUU5QixvQ0FBMEI7RUFFMUIsZ0NBQXNCLEVBQ3pCOztBQUVEO0VBQ0ksbUJBQW1CO0VBQ25CLFFBQVE7RUFDUixPQUFPO0VBQ1AsZUFBZSxFQWVsQjtFQW5CRDtJQVFRLFlBQVk7SUFDWixlQUFlLEVBQ2xCO0VBVkw7SUFhUSxZQUFZLEVBQ2Y7RUFkTDtJQWlCUSxtQkFBbUIsRUFDdEI7O0FBRUw7RUFDSSxZQUFZO0VBQ1osYUFBYTtFQUNiLGdCQUFnQjtFQVdoQixjQUFjLEVBbUJqQjtFVHNGQztJU2xITSxhQUFhLEVBQ2hCO0VBTkw7SUFRUSxlQUFlLEVBQ2xCO0VBVEw7SUFXUSxjQUFjLEVBQ2pCO0VBWkw7SUFpQlEscUJBQXFCLEVBQ3hCO0VBbEJMO0lBcUJRLGVBQWUsRUFDbEI7RUF0Qkw7SUF5QlEsbUJBQW1CLEVBQ3RCO0VBMUJMO0lBNkJRLGVBQWU7SUFDZixhQUFhO0lBQ2IsOEJBQThCLEVBQ2pDOztBQUVMO0VBQ0ksY0FBYyxFQUNqQjs7QUN4REQsWUFBWTtBQUVaO0VBRVEsa0VBQTJFLEVBQzlFOztBQUdMLFdBQVc7QUFFUDtFQUNJLHFCQUFxQjtFQUNyQiw4QkFoQlc7RUFpQlgsc01BQTBNO0VBQzFNLG9CQUFvQjtFQUNwQixtQkFBbUIsRUFBQTs7QUFJM0IsWUFBWTtBQUVaOztFQUVJLG1CQUFtQjtFQUNuQixlQUFlO0VBQ2YsYUFBYTtFQUNiLFlBQVk7RUFDWixpQkFBaUI7RUFDakIsZUFBZTtFQUNmLGdCQUFnQjtFQUNoQix3QkFBd0I7RUFDeEIsbUJBQW1CO0VBQ25CLFNBQVM7RUFDVCxzQ0FBNEI7RUFDNUIsa0NBQXdCO0VBQ3hCLDhCQUFvQjtFQUNwQixXQUFXO0VBQ1gsYUFBYTtFQUNiLGNBQWMsRUFxQmpCO0VBdENEOzs7SUFtQlEsY0FBYztJQUNkLHdCQUF3QjtJQUN4QixtQkFBbUIsRUFJdEI7SUF6Qkw7OztNQXVCWSxXQWpFYyxFQWtFakI7RUF4QlQ7O0lBMkJRLGNBcEV1QixFQXFFMUI7RUE1Qkw7O0lBOEJRLHFCQWxGbUI7SUFtRm5CLGdCQUFnQjtJQUNoQixlQUFlO0lBQ2YsYUFuRmlCO0lBb0ZqQixjQTdFb0I7SUE4RXBCLG9DQUFvQztJQUNwQyxtQ0FBbUMsRUFDdEM7O0FBR0w7RUFDSSxZQUFZLEVBV2Y7RVY4SUM7SVV2Sk0sV0FBVztJQUNYLGFBQWEsRUFDaEI7RUFMTDtJQU9RLGFBOUZlLEVBQU87SVZzUDFCO01VdEpRLGFBL0ZXLEVBQU87O0FBb0c5QjtFQUNJLGFBQWEsRUFXaEI7RVYwSUM7SVVuSk0sWUFBWTtJQUNaLFlBQVksRUFDZjtFQUxMO0lBT1EsYUEzR2UsRUFBTztJVitQMUI7TVVsSlEsYUE5R1csRUFBTzs7QUFtSDlCLFVBQVU7QUFFVjtFQUNJLG9CQUFvQixFQUN2Qjs7QUFFRDtFQUNJLG1CQUFtQjtFQUNuQixjQUFjO0VBQ2QsaUJBQWlCO0VBQ2pCLGVBQWU7RUFDZixtQkFBbUI7RUFDbkIsV0FBVztFQUNYLFVBQVU7RUFDVixZQUFZLEVBaURmO0VBekREO0lBVVEsbUJBQW1CO0lBQ25CLHNCQUFzQjtJQUN0QixhQUFhO0lBQ2IsWUFBWTtJQUNaLGNBQWM7SUFDZCxXQUFXO0lBQ1gsZ0JBQWdCLEVBd0NuQjtJQXhETDtNQWtCWSxVQUFVO01BQ1Ysd0JBQXdCO01BQ3hCLGVBQWU7TUFDZixhQUFhO01BQ2IsWUFBWTtNQUNaLGNBQWM7TUFDZCxpQkFBaUI7TUFDakIsZUFBZTtNQUNmLG1CQUFtQjtNQUNuQixhQUFhO01BQ2IsZ0JBQWdCLEVBdUJuQjtNQW5EVDtRQThCZ0IsY0FBYyxFQUlqQjtRQWxDYjtVQWdDb0IsV0FwSk0sRUFxSlQ7TUFqQ2pCO1FBb0NnQixtQkFBbUI7UUFDbkIsT0FBTztRQUNQLFFBQVE7UUFDUixhQTlKTTtRQStKTixZQUFZO1FBQ1osYUFBYTtRQUNiLHFCQXhLVztRQXlLWCxlQWpLSTtRQWtLSixrQkFBa0I7UUFDbEIsbUJBQW1CO1FBQ25CLGFBektPO1FBMEtQLGNBbEtlO1FBbUtmLG9DQUFvQztRQUNwQyxtQ0FBbUMsRUFDdEM7SUFsRGI7TUFxRFksYUFoTFc7TUFpTFgsY0EzS2dCLEVBNEtuQiIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VSb290IjoiLi4vLi4vc291cmNlL3Nhc3MifQ== */
>>>>>>> b8e5cab84f1b78d5ab13adeb822f2886758759e6
