// Bottom borders: 
header, 
.block-views-blockcompositstartpage-block-1, 
.block-views-blockdisplay-other-sponsors-block-1 {
  border-bottom: 4px solid rgba($xi-gray-light, 0.6);
}

//Top Border: 
.block-views-blockdisplay-goldsponsors-block-1 {
  border-top: 4px solid rgba($xi-gray-light, 0.6);
}

// Light blue background: 
.block-views-blockcompositstartpage-block-2, 
.block-views-blocknomination-categories-block-1, 
.block-views-blockdisplay-goldsponsors-block-1, 
.block-views-blockdisplay-other-sponsors-block-1 {
  background: $xi-blue-light; 
}


// Sections - NO padding bottom
.block-views-blockcompositstartpage-block-3, 
.block-views-blocknomination-categories-block-1,
.block-views-blockdisplay-goldsponsors-block-1 {
  padding-bottom: 0; 
}

.block-views-blockdisplay-goldsponsors-block-1 {
  margin-top: $grid-gutter-width*3;
  margin-bottom: 0;
}

.main-container .row >section {
  padding: 0; 
}

section {
  padding: $grid-gutter-width*3 0;
}

.node-readmore {
  a {
    display: block; 
    @include make-button-light($xi-green, $xi-white);
  }
}

.block-title {
  text-align: center; 
}