// Bottom borders: 
header, 
.block-views-blockcompositstartpage-block-1, 
.block-views-blockcompositstartpage-block-2 {
  border-bottom: 4px solid rgba($xi-gray-light, 0.6);
}

// Light blue background: 
.block-views-blockcompositstartpage-block-2, 
.block-views-blocknomination-categories-block-1 {
  background: $xi-blue-light; 
}

.path-frontpage {
  h2, h3 {
    text-align: center;
  }
  .main-container {
    .links {
      text-align: center; 
    }
    .content {
      margin: auto; 
      @include larger-than($screen-sm) {
        max-width: 80%; 
      }
    }
    .row >section {
      padding: 0; 
    }
  }
}

// Sections - NO padding bottom
.block-views-blockcompositstartpage-block-3, 
.block-views-blocknomination-categories-block-1 {
  padding-bottom: 0; 
}


section {
  //margin-bottom: $grid-gutter-width*2;
  padding: $grid-gutter-width*3 0;
}

.node-readmore {
  a {
    display: block; 
    @include make-button-light($xi-green, $xi-white);
  }
}