.navbar-main, 
.navbar {
  background-color: transparent;
  border: none;
  margin-bottom: $line-height-computed/2;
  nav {
    font-weight:bolder;
    text-transform: uppercase;
    list-style: none;  
    padding-top: $line-height-computed/2;  
      li {
        @include larger-than($screen-sm){
          display: inline-block;
        }
        border-radius: 4px;
        margin-left: $grid-gutter-width/6; 
        a {
          padding: $grid-gutter-width/2 ;
        }
        a:link, a:visited {
          color: $xi-gray;
          border-radius: $border-radius-base;
        }
        a:hover, a:focus {
          background-color: $xi-green;
          color: $xi-white;
        }
    }
  } 
  .region-navigation-collapsible {
    display: inline-block;
    float: right;
  }
}

.path-frontpage .navbar-main nav li a {
  color: $xi-white;
}


.path-frontpage .header-menu-logo {
  display: none;
}

.navbar-default .navbar-toggle {
  border: none; 
  margin-top: $grid-gutter-width;
  &:hover, &:active, &:focus {
    background-color: $xi-green;
    .icon-bar {
      background-color: $xi-white; 
    }
  }
}

.path-frontpage .navbar-default .navbar-toggle .icon-bar {
  background-color: $xi-white; 
}

.header-menu-logo {
  display: inline-block;
  @include smaller-than($screen-sm) {
    display: none; 
  }
}

.header-menu-logo.mobile-logo {
  padding-left: $grid-gutter-width/2; 
  display: inline-block;
  @include larger-than($screen-sm){ 
    display: none; 
  }
}
