.site-branding__logo img{
    max-width: 162px;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a,
div#main,
main#content,
header#header,
div#page {
    background: transparent;
}

body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    background-image: url(../images/bg-splash-dark-comp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height:100%;
}