
.slick-dots {
  top: -$line-height-computed*2; 
  li button:before {
    font-size: $font-size-base;
  }
}

.slick-slider {
  .slick-prev, .slick-next {
    top: -$line-height-computed; 
    z-index: 9999;
    &:before {
      color: $xi-gray-light; 
    }
  }

  @include smaller-than($screen-xs) {
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0; 
    }
  }
}
