h1, h2, h3 {
  color: $xi-gray-darker; 
}

h2, h3 {
  margin-bottom: $line-height-computed; 
}

h4 {
  text-transform: uppercase; 
  color: $xi-gray;
  font-weight: bold;  
}

.page-header {
  border: none; 
}